# === ENTORNOS VIRTUALES ===
venv/

# === ARCHIVOS DE PRUEBA ===
test/
test_TPFI.py

# === ARCHIVOS DE CREDENCIALES / CLAVES ===
config.py
IS2_TPFI_credentials.json

# === ARCHIVOS DE SALIDA (JSON) ===
src/output_*.json
src/out_*.json
src/actualizaciones.json

# === ARCHIVOS COMPILADOS DE PYTHON ===
__pycache__/
*.pyc
